.imgProductHome{
    display: inline;
    position: absolute;
    border: 20px solid #000000;
    height: 60vh;
    width: 65vh;
    margin: 13vh 0vh 0vh 15vh;
    cursor: pointer;
    transition: border 0.3s;
    border-radius: 5%;

}

.imgProductHome:hover{
    border: 15px solid #654ee6;
    transition: border 0.3s;
}

.h3ImgProductHome{
    display: inline;
    position: absolute;
    font-size: 6vh;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 1px;
    word-spacing: 1.8px;
    color: #2d0462;
    text-shadow: 2px 2px 0 #6a68dd, 2px -2px 0 #6a68dd, -2px 2px 0 #6a68dd, -2px -2px 0 #6a68dd, 2px 0px 0 #6a68dd, 0px 2px 0 #6a68dd, -2px 0px 0 #6a68dd, 0px -2px 0 #6a68dd;
    margin: 2vh 0vh 0vh 26vh;
    cursor: pointer;
    transition: color 0.3s, text-shadow 0.3s;
}

.h3ImgProductHome:hover{
    color: #654ee6;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
    transition: color 0.3s, text-shadow 0.3s;
}
