.background-color-page{
    position: absolute;
    background-color:  #575757;
    min-height:  100vh;
    min-width: 220.9vh;
}
.background-page{
    position: absolute;
    background-image: url('../Images/background-page.png');
    background-size:25vh;
    min-height:  100vh;
    min-width: 220.9vh;
    z-index: 1;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #7179ea #bdc4ff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #bdc4ff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #7179ea;
    border-radius: 10px;
    border: 3px solid #000000;
  }