.welcome{
    display: inline;
    position: fixed;
    border: 4px solid #000000;
    margin: 40vh 0vh 0vh 80vh;
    border-radius: 10%;
}

.welcome h3{
    color: #000000;
    font-size: 40px;
    
}


.welcome button{
    border-radius: 10%;
    font-size: 30px;
    margin: 0% 20%;
}
