
.bannerOptions{
    color: #e41717 !important; 
    font-size: 35px;
    padding:1px 20px 0px 20px;
    border: 2px solid #e41717 ;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif !important;
    background: #000000;
    transition: color 0.3s,background 0.5s;
    
}

.bannerOptions:hover{
    color: #88ecdf !important ;
    background: #5a1fe4 ;
    border: 2px solid #51abdf !important;
    transition: color 0.3s,background 0.5s;
}

#narutaru{
    color: #22a5b3 !important ;
}
.drop-item{
    font-size: 25px;
    color: #e41717 !important; 
    border: 2px solid #e41717 !important ;
    transition: color 0.3s,background 0.5s ;
    font-family: 'Roboto Condensed', sans-serif !important;
}

.drop-item:hover{
    color: #88ecdf !important ;
    border: 2px solid #51abdf !important;
    background: #5a1fe4 !important;
    transition: color 0.3s,background 0.5s;
}

.showcase-products{
    position: absolute;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    margin: 400px 0px 0px 0x;
    padding: 0px 0px 0px 0px;
    transition: padding 1s;
}

.showcase-products:hover{
    padding: 0px 0px 0px 0px;
    background-color: red;
    cursor: pointer;
    transition: padding 1s;
}

.food-img{
    width: 200px;
    height: 200px;
}


#banner{
    padding : 0vh 0vh 0vh 186.1vh;
    background-image: url('../../Images/Delilah\ Banner.png');
    background-size: cover;
    background-position: 0% 35%;
    z-index: 10;
}

#imgDrop {
    background-color: green;
    background-position : center;
    background-size : cover;
    padding : 150px 0px 0px 148px;
    border-radius: 50%;
    border: 1px solid black;
}

