
*{
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none !important;
    color: #000000 !important;
    font-family: 'Roboto Condensed', sans-serif;
}

.background-login{  
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 100vh;
}

.card-login{
    position: absolute;
    border: 0.5vh solid #150070 ; 
    height: 94vh;
    width: 70vh;
    background: #3462b5;
    background: linear-gradient(180deg, #3462b5 0%, #3c3cba 13%, #00d4ff 100%);
    border-radius: 10%;
    margin: 5vh 70vh;
    font-family: 'Montserrat', sans-serif;
}

.h3-login{
    font-size: 3.5vh;
    text-align: center;
    text-shadow: #474747 3px 2px 2px;   
}

.button-login{
    position: absolute;
    font-size: 5vh;
    border: 0.5vh solid #000000 ; 
    background: #588ae7;
    cursor: pointer;
    border-radius: 30%;
    padding: 1%;
    transition: background 0.4s;
}

.button-login:hover{
    background: #1047ad;
    transition: all 0.4s;
}

.thirdLogin-login{
    position: absolute;
    font-size: 5vh;
    border: 0.5vh solid #000000 ; 
    background-color: #b9b9b9;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    padding: 10%;
    transition: opacity 0.4s;
    border-radius: 80%;
    opacity: 0.4;
}

.thirdLogin-login:hover{
    opacity: 1;
}


.input-login{
    padding: 0.5vh;
    font-size: 4vh;
    border-radius: 5%;
    border: 4px solid #000000;
}

.card-signup{
    position: absolute;
    border: 0.5vh solid #150070 ; 
    height: 94vh;
    width: 160vh;
    background: #3462b5;
    background: linear-gradient(180deg, #3462b5 0%, #3c3cba 13%, #00d4ff 100%);
    border-radius: 10%;
    margin: 5vh 20vh;
}

.h3-signup{
    display: inline;
    position: absolute;
    font-size: 3.5vh;
    text-shadow: #474747 3px 2px 2px;   
}

.input-signup{
    display: inline;
    position: absolute;
    padding: 0.5vh;
    font-size: 3.5vh;
    border-radius: 5%;
    border: 4px solid #000000;
}

#title-login{
    font-size: 7vh;
}

#username-login-input{
    margin: 0vh 0vh 0vh 8vh;
}

#response-login-h3{
    display: none;
    position: absolute;
    margin: 2vh 0vh 0vh 10vh;
}

#btn-send-login{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 16vh 0vh 0vh 40vh;
}

#btn-send-signup{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 12vh 0vh 0vh 120vh;
}

